
/* STYLE RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
 
}
a {
    text-decoration: none;
    color: inherit;
}

/* GENERAL ELEMENTS */

body {
    background-color: #ffe884;
}
.container {
    width: 70%;
    margin: 0 auto;
}
.display-none {
    display: none;
}
.display-block {
    display: block;
}

/* HEADER */

header {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    padding: 5px;
}

/* SECTION */

.img-simpson {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}
section {
    padding: 50px 30px;
    display: flex;
    gap: 30px;
    background-color: white;
    width: 100%;
}
.topnav {
    display: flex;
    padding: 20px;
    background-color: lightskyblue;
    color: white;
    text-transform: uppercase;
    justify-content: center;
}
ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}
article {
    width: 100%;
    text-align: justify;
}
h1 {
    color: #fbd52f;
    font-size: 2em;
    margin: 10px 0;
}
.article__images {
    display: flex;
    gap: 10px;
    width: 100%;
    padding-top: 30px;
}
.article__image {
    width: 100%;
    border: 1px solid gray;
}
aside {
    margin-top: 60px;
    flex: 1 1 400px;
}
aside figure {
    padding: 10px;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    align-items: center;
    text-align: justify;
    height: 100%;
}
.img-matt {
    border: 1px solid white;
    object-fit: cover;
    height: 250px;
}
aside figcaption {
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5em;
}

/* FOOTER */

footer {
    background-color: #3425b7;
    color: white;
    text-align: center;
    padding: 5px;
}


/*  MEDIA QUERIES */


@media (max-width: 880px) {
    .container {
        width: 100%;
    }
    section {
        flex-wrap: wrap;
    }
    .topnav {
        justify-content: left;
    }
    ul {
        flex-direction: column;
        gap: 5px;
        margin-left: 30px;
    }
    aside {
        margin-top: 0;
    }
}